body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #293443;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/hero-img.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introload 1.5s forwards;
          animation: introload 1.5s forwards;
}

.logo {
  color: white;
  font-weight: bold;
}
.logo span {
  color: #218D0F;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #293443;
  width: 50%;
  height: 100vh;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul button {
  color: #218D0F;
  padding: 0.75em 2em;
  text-align: left;
  cursor: pointer;
  background: #293443;
  width: 100%;
  font-size: 1.3rem;
  border: none;
}
nav ul button:hover {
  background: #415269;
}
nav ul a {
  color: #218D0F;
  padding: 0.75em 2em;
  display: block;
}
nav ul a:hover {
  background: #415269;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 2em;
  margin-top: 0;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

section.hero {
  color: white;
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
}
section.hero .down-arrow {
  position: absolute;
  right: 5em;
  bottom: 7em;
  width: 2em;
  margin-top: 5em;
  z-index: -1;
  animation: moveArrow 1s alternate-reverse infinite;
}

.simple-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 30em;
  margin-bottom: 2em;
}

.info-pic-a {
  position: relative;
  width: 100%;
}

.info-pic-b {
  position: relative;
  width: 100%;
}

.info-pic-c {
  position: relative;
  width: 100%;
}

.info-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: 0.5s ease;
  background-color: #218D0F;
}

.info-pic-a:hover .overlay {
  opacity: 1;
}

.info-pic-b:hover .overlay {
  opacity: 1;
}

.info-pic-c:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.guide p {
  font-size: 1rem;
  text-align: center;
  color: #81ABE4;
}
.guide button {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, 0%);
  color: white;
  font-weight: medium;
  background-color: #218D0F;
  border: none;
  text-align: center;
  padding: 20px 25%;
  border-radius: 100px;
  cursor: pointer;
}
.guide button:hover {
  background-color: #166108;
}/*# sourceMappingURL=main.css.map */